/* ルート要素のスタイル */
#root {
  max-width: 1280px; /* 最大幅 */
  margin: 0 auto; /* 中央揃え */
  padding: 2rem; /* 内側余白 */
  text-align: center; /* テキスト中央揃え */
}

/* ロゴのスタイル */
.logo {
  height: 6em; /* 高さ */
  padding: 1.5em; /* 内側余白 */
  will-change: filter; /* filterプロパティの変更をブラウザに通知 */
  transition: filter 300ms; /* filterプロパティのトランジション効果 */
}
/* ロゴホバー時のスタイル */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* ドロップシャドウ効果 */
}
/* Reactロゴホバー時のスタイル */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); /* ドロップシャドウ効果 */
}

/* ロゴ回転アニメーション */
@keyframes logo-spin {
  from {
    transform: rotate(0deg); /* 開始時（0度回転） */
  }
  to {
    transform: rotate(360deg); /* 終了時（360度回転） */
  }
}

/* モーション抑制の設定がない場合のロゴアニメーション */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear; /* ロゴ回転アニメーションを適用 */
  }
}

/* カードのスタイル */
.card {
  padding: 2em; /* 内側余白 */
}

/* ドキュメントを読むためのリンクのスタイル */
.read-the-docs {
  color: #888; /* 文字色 */
}
