/* 基本的なルート要素のスタイル */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /* フォントファミリー */
  line-height: 1.5; /* 行の高さ */
  font-weight: 400; /* フォントの太さ */

  color-scheme: light dark; /* ライトモードとダークモードのカラースキームをサポート */
  color: rgba(255, 255, 255, 0.87); /* 文字色（デフォルトはダークモード用） */
  background-color: #242424; /* 背景色（デフォルトはダークモード用） */

  font-synthesis: none; /* フォント合成を無効化 */
  text-rendering: optimizeLegibility; /* テキストレンダリングの最適化 */
  -webkit-font-smoothing: antialiased; /* Webkitブラウザでのフォントアンチエイリアス */
  -moz-osx-font-smoothing: grayscale; /* Firefoxでのフォントアンチエイリアス */
}

/* リンクのスタイル */
a {
  font-weight: 500; /* フォントの太さ */
  color: #646cff; /* 文字色 */
  text-decoration: inherit; /* テキスト装飾を親要素から継承 */
}
/* リンクホバー時のスタイル */
a:hover {
  color: #535bf2; /* 文字色を変更 */
}

/* body要素のスタイル */
body {
  margin: 0; /* 外側余白を0に */
  min-width: 320px; /* 最小幅 */
  min-height: 100vh; /* 最小の高さ（ビューポートの高さ） */
  display: flex; /* フレックスボックスレイアウトを使用 */
  justify-content: center; /* 水平方向中央揃え */
  align-items: center; /* 垂直方向中央揃え */
}

/* h1要素のスタイル */
h1 {
  font-size: 3.2em; /* フォントサイズ */
  line-height: 1.1; /* 行の高さ */
}

/* ボタンのスタイル */
button {
  border-radius: 8px; /* 角丸 */
  border: 1px solid transparent; /* 透明な境界線 */
  padding: 0.6em 1.2em; /* 内側余白 */
  font-size: 1em; /* フォントサイズ */
  font-weight: 500; /* フォントの太さ */
  font-family: inherit; /* フォントファミリーを親要素から継承 */
  background-color: #1a1a1a; /* 背景色 */
  cursor: pointer; /* カーソルをポインターに */
  transition: border-color 0.25s; /* 境界線の色のトランジション効果 */
}
/* ボタンホバー時のスタイル */
button:hover {
  border-color: #646cff; /* 境界線の色を変更 */
}
/* ボタンフォーカス時のスタイル */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color; /* フォーカス時のアウトライン */
}

/* ライトモード時のスタイル */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547; /* 文字色をライトモード用に変更 */
    background-color: #ffffff; /* 背景色をライトモード用に変更 */
  }
  a:hover {
    color: #747bff; /* リンクホバー時の文字色をライトモード用に変更 */
  }
  button {
    background-color: #f9f9f9; /* ボタンの背景色をライトモード用に変更 */
  }
}
